Repository RingoTangs/vue-vite-base: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(custom): lint:prettier 新增js cjs扩展名
  package.json
Due: prettier --write

fix(custom): 修改配置
  .lintstagedrc.json
Due: prettier --write

docs(custom): 更新文档
  README.md
Due: none

fix(custom): 修改lint-staged命令
  .husky/pre-commit
  package.json
Due: prettier --write

fix(custom): 取消强制空检查
  tsconfig.json
Due: prettier --write

fix(custom): 修改 rules
  .eslintrc.json
Due: prettier --write

feat(custom): 添加vscode扩展推荐
  .vscode/extensions.json
Due: prettier --write

feat(custom): 新增 vscode setting.json
  settings.json
Due: prettier --write

fix(custom): vscode settings.json 不排除
  .gitignore
Due: none

feat(custom): workspace settings
  .vscode/settings.json
Due: prettier --write

fix(custom): tS2307 问题修复
  src/vue.d.ts
Due: prettier --write, eslint --fix

fix(custom): 没有默认导出的时候可以 import
  tsconfig.json
Due: prettier --write

feat(custom): prettier 整合 eslint
  .eslintrc.json
  package.json
Due: prettier --write

docs(custom): rEADME
  README.md
Due: none

feat: webstorm settings
  webstorm2023.1-settings.zip
Due: none

refactor(custom): 重命名
  vscode-settings.json
Due: prettier --write

feat(custom): mock
  mock/user.mock.ts
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

fix(custom): mock body
  mock/user.mock.ts
Due: prettier --write, eslint --fix

fix(custom): include 包含 mock 文件夹
  tsconfig.json
Due: prettier --write

chore(custom): gitignore remove *.lock
  .gitignore
  yarn.lock
Due: none

chore(custom): 生成pnpm lock
  pnpm-lock.yaml
Due: none

chore(custom): 添加 *.lock
  .gitignore
  pnpm-lock.yaml
  yarn.lock
Due: none

docs(custom): 新增分支说明
  README.md
Due: none

chore(custom): delete yarn.lock
  yarn.lock
Due: none

chore(custom): delelte yarn.lock
  yarn.lock
Due: none

feat(custom): 新增 postcss preset env
  .browserslistrc
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

feat(custom): 添加 postcss preset env
  .browserslistrc
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{js,cjs,ts,vue,html,jsx,tsx})
  eslint --fix: any of: *.{js,cjs,ts,vue,html,jsx,tsx}
